<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>MSC@CQU PasswordReset</title>
</head>

<body>
    {% if  get%}
    <h1>Reset your password</h1>
    <form method="post">
        {{ form }}
        <input type="submit" value="Confirm">
        {% csrf_token %}
    </form>
    {% else %}
    {% if success %}
    <strong>You have changed your password successfully!</strong>
    {% include "base.html" %}
    {% else %}
    <strong>Sorry, you make something wrong.</strong>
    {% include "base.html" %}
    {% endif %}
    {% endif %}
</body>