<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
</head>

<body>
    <h1>Dashboard</h1>
    <h4>Hello {{ user }}</h4>

    <h3>News</h3>
    {%if newsList%} {%for news in newsList%}
    <ul>
        <li>
            <strong>{{news.newsTitle}}</strong>
        </li>
        <p>{{news.newsContent}}</p>
    </ul>
    {% endfor %} {%else%}
    <p>No recent news</p>
    {%endif%}


    <h3>Avaiable courses</h3>
    {%if courseList%} {%for course in courseList%}
    <p>{{courseList|length}} avaiable</p>
    <ul>
        <li>
            <a href={{course.get_absolute_url}}>{{course.courseName}}</a>
        </li>
    </ul>
    {% endfor %} {%else%}
    <p>No avaiable course now</p>
    {%endif%}

<h3>Deadline</h3>
    {%if taskList%} 
    <p>{{taskList|length}} to do</p>
    {%for task in taskList%}
        </ul>
            <li>
            <a href={{task.get_absolute_url}}>{{task.taskName}}</a>
            </li>
        </ul>
    {% endfor %} {%else%}
    <p>Enjoy you time! You are Free!</p>
    {%endif%} {%include "base.html"%}
</body>