<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
</head>

<body>
    {%extends "base_generic.html"%}
    <h3>Hello {{ user }}</h3>
    <p><a href='logout/'>logout</a></p>
    <ul>
        <li><b>News</b></li>
        {%if newsList%}
            {%for newsForm in newsList%}
                <table>{{newsForm.as_table}}</table>
            {% endfor %}
        {%else%}
            <p>No recent news</p>
        {%endif%}

        <li>Avaiable courses</li>
        {%if courseList%}
            {%for courseForm in courseList%}
                <p>{{courseForm.as_p}}</p>
            {% endfor %}
        {%else%}
            <p>No avaiable course now</p>
        {%endif%}

        <li>Deadline</li>
        {%if taskList%}
            {%for taskForm in taskList%}
                <table>{{taskForm.as_table}}</table>
            {% endfor %}
        {%else%}
            <p>Enjoy you time! You are Free!</p>
        {%endif%}

    </ul>
    <p>{{time}}</p>
</body>
